body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.matrix-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a1a1a repeat;
  z-index: -1;
}

.matrix-code {
  max-width: 500px;
  margin: 50px auto;
  background-color: rgba(27, 27, 27, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(10, 142, 8, 0.3);
  text-align: center;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
  border: 3px solid #348434d3;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #29a929;
}

/* Estilize a cor branca para o texto "Eu sou" */
#fixed-text {
  color: #e1e1e1;
  margin-right: 5px;
}

#underline {
  visibility: hidden;
}

/* Estilize a cor verde para as palavras "Luiz Fernando" e "Desenvolvedor" */
#changing-text {
  color: #29a929;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
}

.social-links img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease-in-out;
  /* Altere a cor dos ícones para branco */
  filter: invert(1);
}

.social-links img:hover {
  transform: scale(1.2);
}

/* Links com hover mais suave */
a:hover {
  color: #ccc;
}
/* Media Queries para responsividade */
@media screen and (max-width: 600px) {
  .matrix-code {
    max-width: 80%;
  }
  .profile-pic {
    width: 150px;
    height: 150px;
  }
  h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .profile-pic {
    width: 120px;
    height: 120px;
  }
  h1 {
    font-size: 18px;
  }
}
